body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #b22222;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b22222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(250, 247, 247);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #111110;
    transform: scale(1.1);
}

#bebidas {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.menu-item {
    margin: 20px;
    display: inline-block;
    width: 200px;
    transition: transform 0.3s ease;
}

.menu-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item:hover {
    transform: scale(1.05);
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-icons img {
    width: 40px;
    margin: 10px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    animation: swing 0.8s ease-in-out infinite;
}

@keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

/* Estilo para el mensaje de carrito */
#mensaje-carrito {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: none; /* Oculto por defecto */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, bottom 0.3s ease;
}

#mensaje-carrito.mostrar {
    display: block;
    opacity: 1;
    bottom: 30px; /* Movimiento suave */
}
